<header class="site-header">

  <div class="wrapper">
    
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>
      
      <div class="trigger">
        <a class="page-link" href="/Jaejin_CV.pdf">CV</a>
      </div>
      </nav> 
  </div>
  
</header>

